/* p::first-line {
  color: blue;
}
p::first-letter {
  color: red;
  font-size: 5rem;
}

li {
  list-style: none;
}

li::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./imgs/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

p::selection {
  background-color: yellow;
} */

/* SELETORES */

/* 
*{
    margin: 0;
}

p,
header,
h2 {
  background-color: green;
} */
/* header p {
  background-color: green;
} */
/* #head > p {
  background-color: green;
} */
/* header + * {
  background-color: green; */
/* } */

/* header ~ p {
  background-color: green;
} */
/* 
[width="500"] {
  background-color: green;
} */
/* 
[width] {
  background-color: green;
} */

/* [title~="titulo"] {
  background-color: green;
} */
/* [title^="t"] {
  background-color: green;
} */
/* [title$="1"] {
  background-color: green;
} */
/* [title*="i"] {
  background-color: green;
} */

/* PSEUDO CLASSES */

/* input:focus {
  color: red;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
} */
/* 
li:first-child {
  color: blue;
} */
/* li:first-of-type {
  color: blue;
} */

/* li:nth-child(3) {
  color: blue;
} */
/* li:nth-of-type(3) {
  color: blue;
} */
/* li:nth-of-type(even) {
  background-color: beige;
}
li:nth-of-type(odd) {
  background-color: gray;
  color: white;
} */

/* li:nth-of-type(3n-2) {
  background-color: gray;
  color: white;
} */

/* li:nth-of-type(2n) {
  color: blue;
} */
/* li:last-child {
  color: blue;
} */
/* li:last-of-type {
  color: blue;
} */

/* FUNÇÃO CALC */

/* body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.primeira {
  width: calc(100% - 200px);
  height: 100px;
  background-color: blue;
  margin: auto;
} */

/* Transformações */
/* 
div {
  width: 420px;
  height: 300px;
  background-color: red;
} */

/* VARIAVEIS CSS */

/* :root {
  --var-color: gray;
  --square-size: 300px;
}

.p2 {
  color: var(--var-color);

  font-size: 25px;
}

.p3 {
  color: var(--var-color);
  font-size: 14px;
}

.sqr1 {
  width: var(--square-size);
  height: var(--square-size);
  background-color: black;
}
.sqr2 {
  width: var(--square-size);
  height: var(--square-size);
  background-color: green;
} */

/* .r1 {
  background-color: red;
  flex-grow: 1;
  order: 1;
}

.r2 {
  background-color: blue;
  flex-grow: 2;
  align-self: flex-start;
}

.r3 {
  background-color: green;
  flex-shrink: 0;
  flex-grow: 3;
  order: -1;
}

.rect {
  width: 150px;
  height: 150px;
}

.container {
  background-color: gray;
  height: 290px;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
} */

/* GRID */
/* .container { */
/* height: 500px; */
/* color: white;
  padding: 10px;
  background-color: gray;
  display: grid; */

/* grid-template-rows: 200px 100px;
  grid-template-columns: 1fr 3fr 1fr; */
/* grid-template: auto auto / auto auto auto; */
/* grid-row-gap: 10px;
  grid-column-gap: 30px; */

/* justify-items: stretch;
  align-items: center; */
/* justify-content: flex-end;
  align-content: stretch;
  grid-gap: 10px; */
/* grid-template-areas:
    "a2 a2 a2 a2 a2 a2 "
    "a1 a1 a3 a3 a3 a3 "
    "a1 a1 a5 a4 a4 a4 "
    "a6 a6 a6 a6 a6 a6 "; */
/* 
  grid-template: auto auto auto auto/ auto auto auto auto auto auto;
}
.r1 {
  background-color: red;
}

.r2 {
  background-color: blue;
}

.r3 {
  background-color: green;
}

.rect {
  /* width: 100px; */
/* height: 100px; */
/* }

.i1 {
  grid-area: a1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.i2 {
  grid-area: a2;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}
.i3 {
  grid-area: a3;
  grid-column-end: span 4;
  grid-row-start: 2;
}
.i4 {
  grid-area: a4;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 7;
}
.i5 {
  grid-area: a5;
  grid-column-start: 3;
  grid-row-start: 3;
}
.i6 {
  grid-column-end: span 6;

  grid-area: a6;
}  */

/* ANIMATIONS */
/* @keyframes changeColor {
  0% {
    background-color: red;
  }

  25% {
    background-color: green;
  }

  50% {
    background-color: yellow;
    width: 400px;
  }
  100% {
    background-color: blue;
  }
}

@keyframes move {
  0% {
    left: 0px;
  }
  100% {
    left: 300px;
  }
}
.box {
  border-style: solid;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: changeColor;

  animation: changeColor 6s linear 2s infinite alternate both; */
/* animation-name: move; */
/* animation-fill-mode: both;

  animation-duration: 3000ms;
  animation-iteration-count: infinite; */
/* animation-delay: 2000ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: both; 
}
.div1 {
  animation-timing-function: linear;
}
.div2 {
  animation-timing-function: ease;
}

.div3 {
  animation-timing-function: ease-in;
}

.div4 {
  animation-timing-function: ease-out;
}

.div5 {
  animation-timing-function: ease-in-out;
} */

/* TRANSATIONS */
.btn {
  background-color: #428bca;
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 30px;

  /* transition-property: background-color, padding;
  transition-duration: 500ms, 1s;
  transition-delay: 100ms;
  transition-timing-function: ease-in-out; */

  transition: background-color 500ms 1s ease-out, padding 3s;
}

.btn:hover {
  background-color: #2248ca;
  padding-left: 30px;
  padding-right: 30px;
}
